html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}
#camera--trigger{
    width: 1px;
    background-color: black;
    color: black;
    font-size: 1px;
    border-radius: 1px;
    border: none;
    padding: 1px 1px;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 1px;
    right: calc(50% - 1px);
}
.taken{
    height: 1px!important;
    width: 1px!important;
    transition: all 0.5s ease-in;
    border: solid 1px white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    top: 1px;
    right: 1px;
    z-index: 1;
}